<header>
    <div class="header">
        <a class="title floatLeft button" href="<%= home %>" title="Homepage" id="homepage">Home</a>
        <div class="icon floatRight button" onclick="<%= modeSwitch %>" title="Light Mode" id="mode"></div>
        <a class="title floatRight button" href="<%= home %>/message" title="Message Creator" id="message">Message</a>

        <div class="exp"></div>
    </div>
</header>